{% extends "base_generic.html" %}

{% block content %}
  <h1>Renovar Libro: {{ book_instance.book.title }}</h1>
  <p>Bibliotecario: {{ user.get_username }}</p>
  <p><strong>ID de la copia:</strong> {{ book_instance.id }}</p>
  <p
    class="{% if book_instance.is_overdue %}text-danger{% endif %}">
    <strong>Fecha de devolución actual:</strong> {{ book_instance.due_back }}
  </p>

  <form action="" method="post">
    {% csrf_token %}
    <table>
      {{ form.as_table }}
    </table>
    <input type="submit" value="Enviar" />
  </form>
{% endblock %}